.input {
  padding: 1rem;
}

.submit {
  width: fit-content;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 2px solid rgb(var(--foreground-rgb));
}

.submit:hover {
  background-color: rgb(var(--callout-rgb));
}

.preview {
  padding: 1rem;
}

.text {
  width: 100%;
  background-color: rgb(var(--callout-rgb));
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow-x: scroll;
}

.text a {
  cursor: pointer;
}
