.root {
  border-radius: 999px;
  border: 2px solid rgb(var(--foreground-rgb));
  overflow: hidden;
}

.loading {
  height: 100%;
  width: 100%;
  background: var(--primary-glow);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
