.container {
  background-color: rgb(var(--background-end-rgb));
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
}

.text {
  width: 100%;
  background-color: rgb(var(--callout-rgb));
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow-x: scroll;
}

.reacts {
  margin-top: 1rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container a {
  font-weight: bold;
}

.container a:hover {
  opacity: 70%;
}

.byline {
  display: inline;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  background-color: rgb(var(--callout-rgb));
  padding: 0.25rem;
  font-size: 0.8rem;
}
