.root {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  border-radius: var(--border-radius);
  border: 1px solid rgb(var(--card-border-rgb));
  padding: 0;
  font-size: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--card-rgb));
  font-weight: 600;
}

.body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.link {
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline dotted;
}

.email {
  font-weight: 400;
  opacity: 0.8;
  font-size: 0.875rem;
}
