.root {
  position: sticky;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

.container {
  padding: 0.8rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu > * {
  margin-left: 1rem;
}

.menu > :first-child {
  margin-left: 0;
}

.link {
  text-decoration: none;
  display: block;
  font-family: var(--font-moos);
  font-weight: 900;
}

.link:hover,
.link:focus {
  text-decoration: underline dotted;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  z-index: 100;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.login {
  color: rgb(var(--foreground-rgb));
  border: 2px solid rgb(var(--foreground-rgb));
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.pages {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(var(--foreground-rgb));
  padding: 0.5rem 1.5rem 0;
}

.pages p {
  margin: 0;
}

@media screen and (min-width: 765px) {
  .pages {
    position: absolute;
    top: 2rem;
    right: 6rem;
    border: none;
    padding: 0;
    gap: 3rem;
  }
}
