.container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.break {
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.5);
  margin: 1.5rem;
}

.blog {
  flex-grow: 1;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .postContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
