.container {
  background-color: rgb(var(--background-end-rgb));
  margin: 0 auto;
  font-size: 18px;
  --h1-size: 30px;
  --h1-media: 6.3vw;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: var(--font-moos);
  letter-spacing: -0.25vw;
  font-size: var(--h1-size);
  font-weight: 200;
  padding: 3rem 1.5rem 1.5rem;
  max-width: 222px;
  text-align: center;
}

.title span {
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .title {
    border-bottom: 1px solid rgb(var(--foreground-rgb));
    padding: 3rem 1.5rem;
    display: block;
  }
  .title h1 {
    white-space: nowrap;
    font-size: var(--h1-media);
    max-width: none;
  }
}

.about {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
}

.aboutUs {
  padding: 1.5rem 1.5rem;
}

.tangerineBox {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  display: flex;
  justify-content: center;
}

.tangerine {
  width: calc(100% - 5rem);
  max-width: 400px;
  padding: 0.5rem 0;
}

@media screen and (min-width: 600px) {
  .about {
    flex-direction: row;
  }
  .aboutUs {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(var(--foreground-rgb));
  }
  .tangerineBox {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }
}

.team {
  background-color: var(--background-tan);
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  padding: 1.5rem 0;
}

.team h2 {
  font-family: var(--font-moos);
  letter-spacing: -0.25vw;
  font-size: var(--h1-size);
  font-weight: 200;
  padding: 0 1.5rem;
}

.teamP {
  border-left: 5rem;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}

.membersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 25rem;
  block-size: 13rem;
  transform: scale(0.75);
}

@media screen and (min-width: 600px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team h2 {
    font-size: var(--h1-media);
    text-align: center;
  }
  .teamP {
    text-align: center;
    max-width: var(--max-width);
  }
}

.commentsHeader {
  font-family: var(--font-moos);
  font-size: var(--h1-media);
  text-align: center;
  padding: 3rem 0;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
}

.randomComment {
  padding: 3rem 0;
  text-align: center;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
}

@media screen and (min-width: 600px) {
  .comments {
    display: flex;
  }
  .commentsHeader {
    border-right: 1px solid rgb(var(--foreground-rgb));
    min-width: 50%;
  }
  .randomComment {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(var(--foreground-rgb));
  }
}

.footer {
  padding: 3rem;
  font-family: var(--font-moos);
  font-size: var(--h1-media);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(var(--background-end-rgb));
  background-color: rgb(var(--foreground-rgb));
}
