.root {
  position: relative;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  max-width: var(--max-width);
  background-color: var(--background-tan);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  padding: 2rem;
}

.root h2 {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.post {
  flex-direction: column;
}

.author {
  display: none;
}

@media screen and (min-width: 765px) {
  .post {
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .author {
    display: flex;
  }
}
