.root {
  display: flex;
}

.avatar {
  margin-right: 1rem;
}

.info {
  font-family: var(--font-moos);
  max-width: calc(var(--max-width) / 3);
}

.displayName {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.blog {
  position: relative;
  bottom: -1.2rem;
  color: rgb(var(--middleground-rgb));
}

.email {
  position: relative;
  top: -0.3rem;
  color: rgb(var(--middleground-rgb));
}

.links {
  text-align: right;
}

.link {
  padding: 0 0.5rem;
}
