.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  align-items: center;
}

.chart {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stats {
  align-items: center;
  height: 100px;
  display: flex;
}

.stat_box {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  width: auto;
  margin: 50px;
  height: auto;

  background-color: rgb(255, 255, 255);
}
